@font-face {
  font-family: Gotham-Bold;
  src: url(Gotham-Bold.otf);
  src: url(GothamBold.ttf);
}

@font-face {
  font-family: Gotham-Light;
  src: url(Gotham-Light.otf);
  src: url(GothamLight.ttf);
}

@font-face {
  font-family: Gotham-Thin;
  src: url(Gotham-Thin.otf);
}

@font-face {
  font-family: Gotham-Book;
  src: url(Gotham-Book.otf);
}

@font-face {
  font-family: Gotham-Medium;
  src: url(GothamMedium.ttf);
}

@font-face {
  font-family: Gotham-Light-Italic;
  src: url(GothamLightItalic.ttf);
}

body {
  display: flex;
  margin:0;
  padding:0;
  color: #3a4b5f;
}

p {
  color: #3a4b5f;
  font-family: Gotham-Bold;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  font-size: 20px;
}

.header {
  font-size:41px;
  line-height:17px;
  letter-spacing: 6px;
}

.sub-header {
  font-family: Gotham-Medium;
  padding-top: 30px;
  font-size: 21px;
  letter-spacing: 4px;
}

.address {
  font-family: Gotham-Light;
  font-size:15px;
  letter-spacing: 2px;
}

.ad-top {
  padding-top: 36px;
}

.hours {
  font-family: Gotham-Light;
  font-size:15px;
  letter-spacing: 2px;
}
.h-top {
  font-family: Gotham-Medium;
  padding-top: 30px;
  font-size:15px;
  letter-spacing: 2px;
}

.sub {
  font-family: Gotham-Light-Italic;
  font-size:14px;
  letter-spacing: 2px;
}

.pad {
  margin-top: 18px;
}

section {
  width: 50%;
  height:100vh;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eae2cf;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside {
  width: 50%;
  height:100vh;
  background-image: url("https://res.cloudinary.com/djq5ic5br/image/upload/q_auto/borough/rackies.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #3a4b5f;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
  .contact-details {
    height: auto;
    padding-top: 30px;
  }
  section {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }
  aside {
    width: 100%;
    height: 50vh;
  }
}
